.top {
  min-height: 500px;
  column-count: 3;
}

.map {
  border: 1px solid black;
  text-align: center;
}

.output {
  border: 1px solid black;
  text-align: left;
}

.terminal {
  color: white;
  background-color: black;
}

.inventory {
  border: 1px solid black;
  text-align: center;
}

.bottom {
  min-height: 50px;
  column-count: 1;
}

.input {
  border: 1px solid black;
  text-align: left;
}

.input-text {
  width: 80%;
  padding: 10px;
  margin: 20px;
  color: white;
  background-color: black;
}

.input-button {
  width: 10%;
  padding: 10px;
  margin: 20px;
  color: white;
  background-color: #165516;
}
