.App {
  min-height: 100vh;
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
}

.main-page {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 1vmin);
  color: black;
  background-color: #a3a7af;
}

footer {
  min-height: 10hv;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.5vmin);
  bottom: 0;
  color: white;
  background-color: #282c34;
}
